@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..700&display=swap');
body {
  
  margin: 0;
  padding: 0;
  background-color: #fdfdfc;
  color: #111;
  line-height: 1.6;
  
}
html,body{
  overflow-x: hidden !important;

}
.urb { font-family: "Urbanist", sans-serif; }
.man { font-family: "Manrope", sans-serif; }
.mons { font-family: "Montserrat", sans-serif; }
.com { font-family: "Cormorant Garamond", serif; }
.play { font-family: "Playfair Display", serif; }
